<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>Change password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div *ngIf="signInMethods; else gettingSignInMethods">
    <div *ngIf="signInMethods.includes('password'); else noPassword">
      <app-settings-change-password-for-email-provider></app-settings-change-password-for-email-provider>
    </div>
    <ng-template #noPassword>
      <app-settings-change-password-for-facebook-provider></app-settings-change-password-for-facebook-provider>
    </ng-template>
  </div>
  <ng-template #gettingSignInMethods>
    <div class="ion-padding ion-text-center">
      <ion-spinner></ion-spinner>
    </div>
  </ng-template>
</ion-content>
