<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>Explore by Topic</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item lines="full">Arts and Humanities</ion-item>
    <ion-item lines="full">Business</ion-item>
    <ion-item lines="full">Computer Science</ion-item>
    <ion-item lines="full">Data Science</ion-item>
    <ion-item lines="full">Information Technology</ion-item>
    <ion-item lines="full">Health</ion-item>
    <ion-item lines="full">Math and Logic</ion-item>
    <ion-item lines="full">Personal Development</ion-item>
    <ion-item lines="full">Physical Science and Engineering</ion-item>
    <ion-item lines="full">Social Sciences</ion-item>
    <ion-item lines="full">Language Learning</ion-item>
  </ion-list>
</ion-content>
