<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>Explore by Topic</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>Arts and Humanities</ion-item>
    <ion-item>Business</ion-item>
    <ion-item>Computer Science</ion-item>
    <ion-item>Data Science</ion-item>
    <ion-item>Information Technology</ion-item>
    <ion-item>Health</ion-item>
    <ion-item>Math and Logic</ion-item>
    <ion-item>Personal Development</ion-item>
    <ion-item>Physical Science and Engineering</ion-item>
    <ion-item>Social Sciences</ion-item>
    <ion-item>Language Learning</ion-item>
  </ion-list>
</ion-content>
