<ion-header>
  <ion-toolbar color="medium">
    <ion-searchbar color="light"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="explore-header">
    <div class="explore-header--title ion-padding">Explore</div>

    <ion-button fill="clear" color="dark" class="ion-text-capitalize" (click)="viewAllTopics()">
      Topics
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-button>
  </div>
  <div class="topics ion-padding-horizontal">
    <ion-chip [outline]="true">
      <ion-label>Arts and Humanities</ion-label>
    </ion-chip>
    <ion-chip [outline]="true">
      <ion-label>Business</ion-label>
    </ion-chip>
    <ion-chip [outline]="true">
      <ion-label>Computer Science</ion-label>
    </ion-chip>
    <ion-chip [outline]="true">
      <ion-label>Data Science</ion-label>
    </ion-chip>
    <ion-chip [outline]="true">
      <ion-label>Information Technology</ion-label>
    </ion-chip>
    <ion-chip [outline]="true">
      <ion-label>Health</ion-label>
    </ion-chip>
    <ion-chip [outline]="true">
      <ion-label>Math and Logic</ion-label>
    </ion-chip>
    <ion-chip [outline]="true">
      <ion-label>Personal Development</ion-label>
    </ion-chip>
    <ion-chip [outline]="true">
      <ion-label>Physical Science and Engineering</ion-label>
    </ion-chip>
    <ion-chip [outline]="true">
      <ion-label>Social Sciences</ion-label>
    </ion-chip>
    <ion-chip [outline]="true">
      <ion-label>Language Learning</ion-label>
    </ion-chip>
  </div>

  <div class="courses ion-padding-vertical trending-courses">
    <div class="courses--header ion-padding-horizontal ion-padding-bottom">
      <ion-text class="courses--title">Trending courses</ion-text>
      <ion-text class="courses--all" color="dark" [routerLink]="['/tabs/explore/trending']">
        See All
      </ion-text>
    </div>
    <div class="courses--list">
      <app-course-item></app-course-item>
      <app-course-item></app-course-item>
      <app-course-item></app-course-item>
    </div>
  </div>

  <div class="courses ion-padding-vertical popular-courses">
    <div class="courses--header ion-padding-horizontal ion-padding-bottom">
      <ion-text class="courses--title">Popular courses</ion-text>
      <ion-text class="courses--all" color="dark" [routerLink]="['/tabs/explore/popular']">
        See All
      </ion-text>
    </div>
    <div class="courses--list">
      <app-course-item></app-course-item>
      <app-course-item></app-course-item>
      <app-course-item></app-course-item>
    </div>
  </div>

  <div class="courses ion-padding-vertical top-rated-courses">
    <div class="courses--header ion-padding-horizontal ion-padding-bottom">
      <ion-text class="courses--title">Top-rated courses</ion-text>
      <ion-text class="courses--all" color="dark" [routerLink]="['/tabs/explore/top-rated']">
        See All
      </ion-text>
    </div>
    <div class="courses--list">
      <app-course-item></app-course-item>
      <app-course-item></app-course-item>
      <app-course-item></app-course-item>
    </div>
  </div>
</ion-content>
