<form mat-dialog-content="true" (ngSubmit)="handleSubmitForgotPassword()">
  <mat-form-field>
    <input type="email" placeholder="Email" [formControl]="email" matInput="true" cdkFocusInitial />
    <mat-error *ngIf="email.errors">
      <div *ngIf="email.errors.required || email.errors.email">
        Email address format is invalid.
      </div>
    </mat-error>
  </mat-form-field>
  <div mat-dialog-actions="true">
    <button mat-button="true" ion-button type="reset" [mat-dialog-close]="true">CANCEL</button>
    <button mat-button="true" ion-button type="submit" color="primary">CONTINUE</button>
  </div>
</form>
