<ion-item lines="full">
  <ion-icon color="success" slot="start" name="checkmark-circle"></ion-icon>
  <div class="ion-padding-vertical">
    <div class="lesson-title">
      Welcome to Multiplatform Mobile Apllication Development with Web Technologies: Ionic and Cordova
    </div>
    <small>Reading</small>&nbsp;<small>&bull;</small>&nbsp;<small>10 min</small>
  </div>
  <ion-icon color="primary" slot="end" name="cloud-download-outline"></ion-icon>
  <!-- <ion-icon color="primary" name="trash-outline"></ion-icon> -->
</ion-item>

