<form [formGroup]="changePasswordForm" (ngSubmit)="handleChangePasswordForEmailProvider()">
  <mat-form-field appearance="outline">
    <mat-label>Current password (Required)</mat-label>
    <input type="password" matInput="true" [formControl]="currentPassword" />
    <mat-error *ngIf="currentPassword.errors">
      <div *ngIf="currentPassword.errors.required">Please enter your current password.</div>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>New password (Required)</mat-label>
    <input type="password" matInput="true" [formControl]="newPassword" />
    <mat-error *ngIf="newPassword.errors">
      <div *ngIf="newPassword.errors.required">Please enter your new password.</div>
      <div *ngIf="newPassword.errors.minlength">New password must be at least 8 characters.</div>
      <div *ngIf="newPassword.errors.duplicate">New password must be different.</div>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Confirm new password (Required)</mat-label>
    <input type="password" matInput="true" [formControl]="confirmNewPassword" />
    <mat-error *ngIf="confirmNewPassword.errors">
      <div *ngIf="confirmNewPassword.errors.mismatch">Passwords do not match.</div>
    </mat-error>
  </mat-form-field>
  <ion-button type="submit" [disabled]="isUpdating" color="primary" mat-flat-button="true">
    Save&nbsp;
    <ion-spinner *ngIf="isUpdating"></ion-spinner>
  </ion-button>
</form>
