.course-instructors {
  .title {
    font-weight: 500;
  }

  .course-instructor-detail {
    .course-instructor-degree {
      font-size: 12px;
      color: #a3a3a3;
    }
  }
}

.course-description {
  .title {
    font-weight: 500;
  }
}

