<div class="course-instructors">
  <ion-item lines="none">
    <div class="title">Course Instructor</div>
  </ion-item>
  <ion-item lines="full">
    <ion-avatar slot="start">
      <ion-icon size="large" name="person-circle"></ion-icon>
    </ion-avatar>
    <div class="course-instructor-detail">
      <div class="course-instructor-name">Jogesh K. Muppala</div>
      <div class="course-instructor-degree">Associate Professor</div>
    </div>
  </ion-item>
</div>
<div class="course-description ion-padding-top">
  <ion-item lines="none">
    <div class="title">Course Description</div>
  </ion-item>
  <div class="ion-padding-horizontal ion-padding-bottom">
    <p>Welcome to Multiplatform Mobile App Development with Web Technologies: Ionic and Cordova! You're joining thousands of learner currently enrolled in the course. I'm excited to have you in the class and look forward to your contributions to the learning community.</p>
    <p>To begin, I recommend taking a few minutes to explore the course site. Review the materia we'll cover each week, and preview the assignments you'll need to complete to pass the course. Click <strong>Discussions</strong> to see forums where you can discuss the course material with fellow students taking the class.</p>
    <p>If you have questions about course content, please post them in the forums to get help from others in the course community.</p>
    <p>Good luck as you get started, and I hope you enjoy the course!</p>
  </div>
</div>
