.no-course {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ion-icon {
    font-size: 700%;
  }
  ion-button {
    align-self: center;
  }
}
