<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Downloads</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="isMobile; else mobile">
  </div>
  <ng-template #mobile>
    <div class="no-course">
      <h1 class="ion-text-center">
        <strong>Download your course and learn anywhere</strong>
      </h1>
      <span>
        <ion-icon class="ion-padding-vertical" color="medium" name="cloud-download-outline"></ion-icon>
      </span>
      <ion-text class="ion-margin-vertical ion-text-center" color="medium">
        You can access your course material offline by downloading it to your device.
      </ion-text>
      <ion-button color="primary" [routerLink]="['/explore']">
        Find a course
      </ion-button>
    </div>
  </ng-template>
</ion-content>
