<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title"> <%- title %> </h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin" class="breadcrumb-link">Admin</a></li>
                        <li class="breadcrumb-item"><a href="<%- link2 %>" class="breadcrumb-link"><%- page2 %></a></li>
                        <li class="breadcrumb-item active" aria-current="page"><%- page3 %></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>