<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">
                        Menu
                    </li>
                  
                    <li class="nav-item">
                        <a class="nav-link" href="/admin" ><i class="fa fa-fw fa-rocket"></i>Admin</a>
                        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-TFS" aria-controls="submenu-TFS"><i class="fa fa-fw fa-rocket"></i>
                    Traffic signs</a>
                        <div id="submenu-TFS" class="collapse submenu">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/trafficsigns">List <span class="badge badge-secondary">New</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/trafficsigns/add">Addition <span class="badge badge-secondary">New</span></a>
                                </li>
                           
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-TFSC" aria-controls="submenu-TFSC"><i class="fa fa-fw fa-rocket"></i>
                    Traffic sign category</a>
                        <div id="submenu-TFSC" class="collapse submenu" >
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/trafficsignCategories">List <span class="badge badge-secondary">New</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/trafficsignCategories/add">Addition <span class="badge badge-secondary">New</span></a>
                                </li>
                           
                            </ul>
                        </div>
                    </li>
                  
                  
                   
                   
               
                 
                  
                   
                  
                </ul>
            </div>
        </nav>
    </div>
</div>