<ion-item class="course" lines="full">
  <ion-avatar slot="start">
    <ion-icon name="person-circle-outline"></ion-icon>
  </ion-avatar>
  <ion-label>
    <div class="course--title">
      <ion-text color="dark">Course Title</ion-text>
    </div>
    <div class="course--organization">
      <ion-text color="medium">
        University Whatever
      </ion-text>
    </div>
    <div class="course--rate">
      <ion-icon color="warning" name="star"></ion-icon>
      &nbsp;
      <ion-text color="medium">4.1 (20k)</ion-text>
    </div>
  </ion-label>
</ion-item>

