.no-course {
  background-color: var(--ion-color-primary-shade);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  ion-button {
    background-image: linear-gradient(to bottom right, var(--ion-color-secondary-tint), var(--ion-color-primary-shade));
  }
}

a {
  cursor: pointer;
}
