<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs/profile/settings']">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>My Courses</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-text-center ion-padding ion-margin no-course">
    <ion-text color="light">
      <h1 class="no-course--title">Welcome</h1>
    </ion-text>

    <ion-text color="light ion-padding-bottom no-course--instruction"
      >It looks like you aren't enrolled in any courses, but it's easy to get started</ion-text
    >

    <ion-button [routerLink]="['/explore']" expand="block" class="no-course--button">
      Find something to learn
    </ion-button>
  </div>
  <!-- <ion-list> -->
  <!-- <ion-item lines="none" *ngFor="let i of [1, 2, 3, 4, 5, 6]"> -->
  <!-- <app-course-item [routerLink]="['/tabs/learn/course/' + i]"></app-course-item> -->
  <!-- </ion-item> -->
  <!-- </ion-list> -->
</ion-content>
