<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h2 class="lesson-title">Welcome to Multiplatform Mobile Apllication Development with Web Technologies: Ionic and
    Cordova</h2>
  <div class="lesson-estimate-time">
    <ion-text color="medium">Reading &bull; 10 min</ion-text>
  </div>

  <div class="lesson-content ion-padding-top">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at consequat ipsum. Nullam convallis, ex vitae
      sodales
      imperdiet, ligula risus hendrerit libero, et vestibulum urna purus ut lorem. Mauris eu arcu a ligula convallis
      efficitur viverra et tortor. Duis sed urna lorem. Mauris tempus neque fermentum odio ultrices pretium. Suspendisse
      blandit velit eget eros luctus, nec aliquam nibh fringilla. Nunc dapibus imperdiet mauris, ac feugiat lectus
      blandit
      vel. Fusce dapibus imperdiet placerat. Donec nunc mi, dapibus hendrerit blandit nec, sodales eget est. Morbi
      feugiat
      semper nisi.</p>

    <p>Sed sit amet vestibulum justo, non auctor urna. Proin commodo dictum vestibulum. Fusce nisl enim, semper id
      tortor eu,
      eleifend tincidunt elit. Curabitur eu lectus sagittis, molestie tortor ut, ullamcorper est. Nam id venenatis arcu.
      Donec finibus diam at libero auctor hendrerit. Curabitur non ante nec nisl blandit porta. Integer mi urna,
      imperdiet
      at nisl a, auctor placerat libero.</p>

    <p>Phasellus finibus hendrerit mauris non tempor. Aenean a vulputate nunc. Class aptent taciti sociosqu ad litora
      torquent per conubia nostra, per inceptos himenaeos. Aenean congue ac ipsum quis feugiat. Maecenas ut turpis sed
      sapien interdum maximus. Aliquam nisl leo, gravida et tortor in, laoreet posuere eros. Sed quis lacus molestie,
      rhoncus quam eget, aliquam ante. Cras sapien ipsum, cursus vitae odio id, feugiat tincidunt dui. Orci varius
      natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas at enim eu metus consequat eleifend
      sed
      nec augue. Nullam porta fringilla efficitur. Sed felis ex, suscipit vitae nibh nec, bibendum tristique turpis.
      Duis
      sit amet gravida augue. Pellentesque lorem urna, pharetra at risus pharetra, placerat imperdiet justo.</p>

    <p>Maecenas eget molestie dolor, vitae commodo velit. Phasellus ultrices, purus eu maximus viverra, ex massa dapibus
      orci, at consectetur ante tellus vitae leo. Nulla nec sollicitudin tortor. Phasellus purus est, laoreet nec justo
      non,
      ultrices pharetra sapien. Duis eget eros luctus, suscipit eros id, tempor sapien. Maecenas suscipit id ligula in
      pulvinar. Vestibulum sit amet condimentum augue.</p>

    <p>Duis ultrices feugiat orci, ac euismod augue lacinia sit amet. Aenean commodo augue sed est consequat, quis
      tincidunt
      lorem cursus. Praesent rutrum ex at sapien ultricies, a vulputate mauris facilisis. Quisque sit amet rutrum ante.
      Orci
      varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec non porttitor leo. Etiam
      ornare purus vel justo blandit commodo. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
  </div>
  <div class="lesson-footer ion-padding-top">
    <ion-button color="primary" fill="outline">Finish this lesson</ion-button>
  </div>
</ion-content>
