<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>Update profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="updateProfileForm" enctype="multipart/form-data">
    <mat-form-field appearance="outline">
      <mat-label>Display Name</mat-label>
      <input type="text" matInput="true" [formControl]="displayNameControl" />
    </mat-form-field>
    <label>
      <input type="file" class="ion-hide" />
      <div *ngIf="photoURL; else noPhoto">
        <ion-thumbnail>
          <ion-img [src]="photoURL"></ion-img>
        </ion-thumbnail>
      </div>
      <ng-template #noPhoto>
        <ion-thumbnail>
          <ion-icon size="large" name="camera-outline"></ion-icon>
        </ion-thumbnail>
      </ng-template>
    </label>
    <br />
    <ion-button class="ion-margin-top" [disabled]="isSubmiting" color="primary">
      Save changes
      <ion-spinner class="ion-padding-left" *ngIf="isSubmiting"></ion-spinner>
    </ion-button>
  </form>
</ion-content>
