<ion-card type="button">
  <ion-card-header>
    <ion-card-subtitle>
      <ion-text class="subtitle">
        The Hong Kong University of Science and Technology
      </ion-text>
      <mat-menu #courseMenu xPosition="before" yPosition="below">
        <button mat-menu-item="true">Unenroll</button>
        <button mat-menu-item="true">View specification</button>
      </mat-menu>
      <ion-icon class="options" mat-icon-button size="large" name="ellipsis-horizontal" (click)="handleClickCourseMenuTrigger($event)" [mat-menu-trigger-for]="courseMenu"></ion-icon>
    </ion-card-subtitle>
    <ion-card-title>Multiplatform Mobile App Development with Web Technology</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="ion-padding-bottom">You can still finish Week 1</div>
    <ion-progress-bar color="success" value="0.7"></ion-progress-bar>
  </ion-card-content>
  <ion-card-content class="bottom">
    <ion-toolbar>
      <ion-buttons style="margin-left: 0;" slot="start">
        <strong>2h</strong>&nbsp;left in Week 1
      </ion-buttons>
      <ion-buttons style="margin-right: 0;" slot="end">
        <ion-icon ion-button size="large" color="primary" name="arrow-forward-circle"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-card-content>
</ion-card>
